@model IEnumerable<VehicleTypeViewModel>;

<h1 class="display-4">Vehicle types</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>TypeName</th>
            <th>TaxCoefficient</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicleType in Model)
        {
            <tr>
                <td>@vehicleType.TypeName</td>
                <td>@vehicleType.TaxCoefficient</td>
                <td>
                    <div class="btn-group float-right">
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="vehicleTypeId" value=@vehicleType.VehicleTypeId>
                            <a type="button" asp-action="Edit" asp-route-id="@vehicleType.VehicleTypeId" class="btn btn-warning">Edit</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a type="button" asp-action="Create" class="btn btn-outline-success btn-block">Add vehicle type</a>