<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Education ASP.NET Core project</p>
    <p>Source code: <a target="_blank" href="https://github.com/Kondratovich/WebAutopark.Artem_Kondratovich">GitHub Repo</a></p>
</div>